<div fxFlex
     fxLayout="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px">
  <div fxFlex></div>
  <div fxFlex="100%">

    <div fxFlex="100%"
         fxLayout="row"
         fxLayoutAlign="left"
         fxLayoutGap="10px">

      <div fxFlex></div>

      <div fxFlex="350px">
          <app-container>
              <ng-content></ng-content>
          </app-container>
      </div>
      
      <div fxFlex="100%">
          <app-container>
              <router-outlet></router-outlet>
          </app-container>
      </div>

      <div fxFlex></div>
    </div>

  </div>
  <div fxFlex></div>
</div>
