<mat-toolbar>

  <div class="container"
       fxLayout="row"
       fxLayout.xs="column"
       fxLayoutAlign="left"
       fxFlex="100%"
       fxLayoutGap="15px"
       fxLayoutGap.xs="0" >
    <div *ngFor="let item of Menu.Items">

      <div fxFlex>
        <button mat-button routerLink="{{item.Url}}">{{item.Title}}</button>
      </div>

    </div>

  </div>

</mat-toolbar>
