<ng-container>

  <mat-list-item>
    <a mat-button class="aside-item-btn dwh" routerLink='Dwh/Etl'>
      <mat-icon class="aside-item-btn-icon">system_update_alt</mat-icon>
      <span class="aside-item-btn-title">ETL</span>
    </a>
  </mat-list-item>

</ng-container>
