<mat-expansion-panel hideToggle="true" >
  <mat-expansion-panel-header>
    <mat-panel-title class="aside-title" class="aside-title">
      Datawarhouse
    </mat-panel-title>
    <mat-panel-description class="aside-icon">
      <mat-icon class="aside-icon">device_hub</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-list>

    <app-metadata-aside></app-metadata-aside>
    <app-etl-aside></app-etl-aside>
    <app-scheduler-aside></app-scheduler-aside>

  </mat-list>

</mat-expansion-panel>
